body{
    padding: 0;
    margin: 0;
    margin-top: 100px;
    display:flex;
    justify-content: center;
    align-items: 100vh;
    background: #ecf0f3c0;

}
.container{
    width: 45%;
    height:55vh;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 12px 12px 20px #373939,
               -12px -12px 20px #686565;
    border-style: groove;
    border-color: #000;
    border-width: 2px;
}
.display #screen{
    width: 97%;
    height: 70px;
    font-size: 35px;
    outline:none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
}
.buttons
{
    width:100%;
    margin-top: 1.7em;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.buttons .row button{
    width:80px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline:none;
    margin: 5px;
    border-radius: 4px;
    border-style: groove;
    border-width: 2px;
    box-shadow: 5px 5px 8px #f5f5f520,
    -5px -5px 8px #fbfafa20;
    
}
.buttons .row button:hover{
    box-shadow: inset 5px 5px 8px rgba(216, 212, 212, 0.1),
    inset -5px -5px 8px #fff;
    background: #fff;
}
#eval{
    background: blue;
    color: #fff;
    box-shadow: inset 5px 5px 8px blue,
    inset -5px -5px 8px #00ace6;
}
#eval:hover{
    box-shadow: inset 5px 5px 8px #00ace6,
    inset -5px -5px 8px #00000020;
}
#ac{
    background: rgb(17, 236, 244);
    color: #000;
    box-shadow: inset 5px 5px 8px #76def8,
    inset -5px -5px 8px #00ace6;

}
#ce{
    background: rgb(248, 252, 4);
    color: #000;
    box-shadow: inset 5px 5px 8px #e2e86c,
    inset -5px -5px 8px #f4e10f;

}